@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Общие стили */

.hide{
    display: none !important;
}


body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

html,
body {
  overflow-x: hidden;
}

.contener2 {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6a859c;
  line-height: 1.8;
}

/* Haeder */
.header {
  padding: 20px 0;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 5px 2px 3px rgb(100, 99, 161);
}

.header_contener {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  margin-left: 50px;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69b9ff;
}


.header_nav {
  margin-right: 30px;
}

.header_nav ul {
  display: flex;
}
.header_nav li + li {
  margin-left: 40px;
}

.header_nav a {
  font-size: 16px;
  color: #676770;
  transition: color 0.2s;
}
.header_nav a:hover {
  font-size: 16px;
  color: #0082f3;
}
.header_nav a:active {
  font-size: 16px;
  color: #11538d;
}

/* Mane */

.main {
}

/* Welcom-con */
.welcom {
  min-height: 600px;
  padding: 195px 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background-color: #04192bd3;
  background-image: url("./img/b1.png");
  background-size: cover;
  background-position: center;
}

.welcom_header {
   color: #244b72; 
  margin-bottom: 100px;
  font-size: 59px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.welcom_liks > * + * {
  margin-left: 20px;
}

.link-primere {
  display: inline-block;
  background-color: #69b9ff;
  padding: 8px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
}

.link-primere:hover {
  color: #11538d;
  transition: 0.5s;
  background-color: rgba(211, 228, 230, 0.459);
  border-color: #021627;
}

.link-p:hover {
  color: #11538d;
  transition: 0.5s;
  background-color: rgba(211, 228, 230, 0.459);
  border-color: #021627;
}

.link-p {
  display: inline-block;
  padding: 8px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
}

/* Использовать общие классы и стили */

.common-section {
  text-align: center;
  padding: 50px 0;
}

.common-section-dark {
  background-color: #0a1d2e;
}

.common-section-dark * {
  color: #ffffff;
}

/* page2 */

.title-wrapper {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
}

.title-p {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8e8e9c;
}

.cart-wrapper {
  display: flex;
  justify-content: center;
}

.about .cart-wrapper > * + * {
  margin-left: 30px;
}

.about .cards {
  padding: 15px 5px ;
  width: auto;
  max-width: 300px;
  height: 610px;
  border: 1px solid #216fb4ad;
  border-radius: 5px;
}

.about .cards img {
  width: 300px;
  height: 300px;
  /* object-fit: contain; */
  margin-bottom: 20px;
}

.h4cards {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 7px;
  text-transform: uppercase;
  padding-bottom: 14px;
  color: #0a1d2e;
}

/* page3 */

.title2 {
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.title-p {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8b8585;
}
.servers .cart2-wrapper {
  display: flex;
  justify-content: space-between;
}
.cards {
  width: 460px;
  height: 550px;
}

.cards img {
  padding-bottom: 20px;
}

.h4cardss {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.page2link {
  display: inline-block;
  padding: 8px 31px 8px 31px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
}

.page2link:hover {
  color: #11538d;
  transition: 0.5s;
  background-color: rgba(211, 228, 230, 0.459);
  border-color: #021627;
}

.p2 {
  padding: 10px 30px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0px;
}

.tabs-items{
    animation: fade 1s;
}

@keyframes fade {
    from{
        opacity: 0.2;

    }

    to{ opacity: 1;

    }
}

/* Page-4 */

.title-p {
  margin-bottom: 60px;
}
.tab-button button {
  margin-bottom: 50px;
  padding: 1px 30px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 7px;
  color: #ffffff;
  background-color: #92a0ad;
}

.tab-button button:hover {
  background-color: #5b96dac0;
}

.but2-3 {
}

.tab-button > * + * {
  margin-left: 20px;
}

.titlee {
  margin: 30px 14px;
  font-size: 31px;
  line-height: 36px;
  color: #676770;
}

.p3-2 {
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 20px;
}

.page3img img{
    width: 800px;
    height: 600px;
}

/* Foter */

.footer {
  padding: 60px 0 0 0;
}

.foter-deck h4 {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 4px;
  color: #676770;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.foter-deck-contenerr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.foter-deck-contenerr > * {
  width: 30%;
  min-width: 220px;
}

.foter-deck a {
  font-size: 13px;
  line-height: 20px;
  color: #668cad;
}

.foter-deck li {
  height: 30px;
  position: relative;
}

.foter-deck li + li {
  margin-top: 6px;
}

.foter-deck li::before {
  content: "";
  width: 100%;
  height: 1px;

  position: absolute;
  right: 0;
  bottom: 0;

  background-color: #58595a5e;
}

.foter-social li::before {
  width: calc(100% - 35px);
}

.foter-social img {
  margin-top: 3px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.contener-black {
  text-align: center;
  padding: 40px 0;
  background-color: #383838;
  color: #9e9e9e;
}

/* Медиа адаптация */

@media (max-width: 1000px) {
  .about .cards {
    height: 660px;
  }
  .servers .cart2-wrapper {
    gap: 20px 20px;
    display: flex;
    justify-content: space-between;
  }
.welcom_header{
    font-size: 54px;

}


}

@media (max-width: 850px) {
  .about .cards {
    height: 690px;
    padding-bottom: 20px;
  }

  .foter-deck-contenerr {
    justify-content: space-around;
  }

  .servers .cart2-wrapper {
    gap: 20px 20px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 760px) {
  .about .cards {
    height: 789px;
  }
}

@media (max-width: 650px) {
  .about .cards {
    height: 640px;
    margin-bottom: 20px;
  }

  .about .cart-wrapper > * + * {
    margin-left: 0px;
  }

  .servers .cart2-wrapper {
    gap: 10px 30px;
    display: flex;
    justify-content: space-between;
  }

  .cart-wrapper {
    align-items: center;
    flex-direction: column;
    margin-left: auto;
  }

  .cart2-wrapper {
    align-items: center;
    flex-direction: column;
  }

  .title-wrapper {
    margin-bottom: 40px;
  }

  .h4cardss {
    font-size: 19px;
  }

  .p2 {
    font-size: 12px;
  }

  .page2link {
    font-size: 14px;
  }

  .tab-button > * + * {
    margin-left: 0;
  }

  .tab-button button {
    font-size: 14px;
    padding: 8px 27px;
    margin-bottom: 35px;
  }

  .title {
    font-size: 27px;
  }

  .title-p {
    font-size: 16px;
  }

  .titlee {
    font-size: 29px;
  }

  .welcom_header {
    font-size: 50px;
  }

  .footer {
    padding: 20px 0 0 0;
  }

  .foter-deck-contenerr {
    gap: 50px 30px;
  }

  .foter-social {
    margin-bottom: 30px;
  }
}

@media (max-width: 470px) {
  .header_nav li + li {
    margin-left: 15px;
  }
  .header_nav {
    margin-right: 5px;
  }



  .welcom_header {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .welcom_liks a {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .welcom_liks > * + * {
    margin-top: 20px;
  }

.Logo {
  margin-left: 10px;


}
}

@media (max-width: 400px) {
    .Logo {
  margin-left: 20px;


}

.header_nav{
    margin-right: 2px;

}

}

